---
import GitHubLogo from "./GitHubLogo.astro";
import LinkedinLogo from "./LinkedinLogo.astro";
---

<footer class="pt-10 px-8 pb-16 mt-10 w-auto max-w-full md:mt-16">
    <div class="grid grid-cols-1 justify-items-center gap-6">
        <div class="flex gap-6 text-sm font-medium text-zinc-600">
            <a
                class="hover:scale-105"
                href="https://linkedin.com/in/leonardocastillo00"
                ><LinkedinLogo /></a
            >
            <a class="hover:scale-105" href="https://github.com/Leo0o00"
                ><GitHubLogo /></a
            >
        </div>
        <p class="text-sm text-zinc-400 text-center">
            © 2024 Leonardo Castillo. All rights reserved.
        </p>
    </div>
</footer>
