---
import { ViewTransitions } from "astro:transitions";
<<<<<<< HEAD
=======
import FooterLink from "../components/FooterLink.astro";
>>>>>>> 2b49fadc0e1138bd16c0cf8cee3c129caadecbb7
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<div>
			<slot />
		</div>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
	}
	body {
		@apply grid place-content-center py-6 px-4 sm:p-6 md:py-10 md:px-8;
	}
	body > div {
		@apply container justify-center;
	}
</style>
